:root {
    --bright: #f5f5f5;
    --dark: #05090c;
    --backgroundColor: #0b1218;
    --darkBackgroundColor: #090f14;
    --primaryColor: #00efff;
    --contentPadding: 1rem min(5vw, 10rem);
    --contentHorizontalMargin: 0 min(10vw, 10rem);
    --contentVerticalPadding: min(10vw, 10rem) 0;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: clamp(0.7rem, 3vw, 1.5rem);
}
.root,
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
}
.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card {
    background-color: var(--backgroundColor);
    width: 50vw;
    min-height: 50vh;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    gap: 1rem;
}
.heading {
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-family: "Spartan", sans-serif;
}
.author {
    display: flex;
    align-self: end;
    font-family: "Spartan", sans-serif;
}
.btn_wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}
.button {
    background-color: var(--backgroundColor);
    min-width: 9rem;
    padding: 1.2rem;
    border: 1px solid var(--primaryColor);
    text-decoration: none;
    font-family: "Spartan", sans-serif;
    color: var(--primaryColor);
    font-size: 1.2rem;
    text-align: center;
    transition: all 0.4s;
    cursor: pointer;
}
.button:hover {
    color: var(--dark);
    background-color: var(--primaryColor);
}
@media (max-width: 1000px) {
    .card {
        width: 75vw;
    }
    .btn_wrapper {
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .card {
        width: 90vw;
    }
}
